:root[theme="dark"] {
  --color-text: #fff;
  --color-normal-white: #fff;
  --color-normal-border: #dcdee3;
  --color-border-container: #434557;
  --color-normal-bg-color: #4D4F61;
  --color-bg-color: #434557;
  --color-main-bg-color: #4D4F61;
  --color-btn-bg-color: #434557;
  --color-main-hover-color: #ed8f26;
  --color-text-999: #fff;
  --color-text-666: #fff;
  --color-text-333: #fff;
  --color-switch-on: #5394ec;
  --color-switch-off: #8e9294;
  --color-btn-normal-text: #fff;
  --color-btn-normal-bg: #8e9294;
  --color-btn-normal-border: #8e9294;
  --color-table-header: #ed8f26;
  --color-item-menu-selected: #ed8f26;
  --color-page-border: #b1b1b8;
  --color-title-before: #ed8f26;
  --color-icon-before: #8e9294;
  --color-selected-bg: #8e9294;
  --color-balloon-primary-color: #8272EC;
  --color-table-icon-current: #4D4F61;
  --color-disabled-text: #afabab;
  --color-badge-new: #f86c6b;
  --aside-bg-color: #333646;
  --chart-bg-color: #434557;
  --pandect-color-text: #ebecf0;
  --edit-tag-bg: #434557;
  --edit-tag-border: #4D4F61;
}

:root {
  --color-text: #333;
  --color-normal-white: #fff;
  --color-normal-border: #dcdee3;
  --color-border-container: #dcdcdc;
  --color-normal-bg-color: #fff;
  --color-bg-color: #f4f5f9;
  --color-main-bg-color: #27a5e0;
  --color-btn-bg-color: #27a5e0;
  --color-main-hover-color: #ed8f26;
  --color-text-999: #999;
  --color-text-666: #666;
  --color-text-333: #333;
  --color-switch-on: #27a5e0;
  --color-switch-off: #C4C6CF;
  --color-btn-normal-text: #27a5e0;
  --color-btn-normal-bg: #fff;
  --color-btn-normal-border: #27a5e0;
  --color-table-header: #f4f4f4;
  --color-item-menu-selected: #fff;
  --color-page-border: #b1b1b8;
  --color-title-before: #27a5e0;
  --color-icon-before: #fff;
  --color-selected-bg: #ebecf0;
  --color-balloon-primary-color: #EAF0FF;
  --color-table-icon-current: #ed8f26;
  --color-disabled-text: #e0e0e0;
  --color-badge-new: #f86c6b;
  --aside-bg-color: #ffffff;
  --chart-bg-color: #ffffff;
  --pandect-color-text: #27a5e0;
  --edit-tag-bg: #fafafa;
  --edit-tag-border: #d9d9d9;
}